page-login {
    .login-title {
        font-family: secretsantaregular;
        font-size: 40px;
        color: red;
        div {
            width: 100%;
            text-align: center;
        }
    }
}